body {
    background-color: rgb(138, 138, 138);    

}

.paragrafo {
    color: white;
    text-align: center;
    font-size: x-large;
}

.Text-Aling-p {
    color: white;

}

#titulo {
    color: yellow; 
    text-align: center;
}

#paragrafo1 {
    font-weight: bold;
    color: orange;
}

.paragrafo2 {
    color: blue;
}

#id-img1 {
    text-align: center;   
}

    .C-rodape1 {
        text-align: center;
        color: white;
        font-size: 2.5ch;
        font-style: italic;

        
    }

    .titulo1 {
        text-align: center;
        font-size: 4ch;
        color: black;
        background-color: rgb(105, 218, 208);
    }


.cDIV0 {
    color: white;
    font-size: 4ch;    
    background-color: tomato;
    height: 300px;
    position: relative;
    grid-template-columns: auto auto auto auto;
    display: grid;
    
}


.button1 {
    background: #c6eef8; border-radius: 6px; padding: 15px; cursor: pointer; color: rgb(3, 3, 3); border: none; font-size: 16px;
}

#btn {
    background: #c6eef8; border-radius: 12px; padding: 22px; cursor: pointer; color: rgb(3, 3, 3); border: none; font-size: 22px;
    position: absolute;
    left: 50%;
}


.season {
    display: grid;
    align-content: center;
    justify-content: space-around;
}

.pbtn {

    text-align: center;
    background-color: wheat;
    font-size: 3ch;
}


#nome {
    text-align: center;
    position: absolute;
    
}